VC_2425_Project_public
chessboard_outputs
labeled_squares
misclassified_images
all_images
all_labels
training_inputs
public_images
output_images
yolo-v12-chessred
split_by_presence
split_count_presence
split_count
checkpoints*
*.pth
*.pt